logs

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala-build
.scala
scalastyle-config.xml

.settings
.project
.classpath

# IntelliJ/VsCode
.idea/
*.idea
out/
*.iml
*.ipr
*.iws
.vscode

.metals
.bloop
.bsp



# Mac
.DS_Store
/bin/

.env
/db/
